[data-head-lost="falling"] #head {	
	animation: fallHead 2s ease forwards;
}

[data-head-lost="rising"] #head {
	animation: fallHeadReverse 2s ease-in reverse;
}

[data-head-lost="mantaing"] #head::after {
	animation: mataing 0.8s infinite ease-in-out;
}

@keyFrames fallHead {
	0% {
		transform: translate(-50%, 0) rotate(0);
	}
	20% {
		transform: translate(-40%, 5%) rotate(0);
	}
	70% {
		transform: translate(-25%, 80%) rotate(-180deg);
	}
	75% {
		transform: translate(-15%, 440%) rotate(-180deg);
	}
	80% {
		transform: translate(-20%, 420%) rotate(-180deg);
	}
	85% {
		transform: translate(-25%, 440%) rotate(-180deg);
	}
	100% {
		transform: translate(-30%, 440%) rotate(-180deg);
	}
}

@keyFrames fallHeadReverse {
	0% {
		transform: translate(-50%, 0) rotate(0);
	}
	40% {
		transform: translate(-50%, 0) rotate(0);
	}
	67% {
		transform: translate(-15%, 200%) rotate(-180deg);
	}
	75% {
		transform: translate(-15%, 440%) rotate(-180deg);
	}
	80% {
		transform: translate(-20%, 420%) rotate(-180deg);
	}
	85% {
		transform: translate(-25%, 440%) rotate(-180deg);
	}
	100% {
		transform: translate(-30%, 440%) rotate(-180deg);
	}
}

@keyFrames mataing {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(3%);
	}
	50% {
		transform: translateX(-5%);
	}
	75% {
		transform: translate(1%);
	}
	100%, 0% {
		transform: translate(-3%);
	}
}