@import "header.css";
@import "section.css";
@import "responsividade.css";

html, body, h1, span, p, section, div, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;  
  background-color: #0d0d0d;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}