#fundoCabeca {
  right: 27px;
  width: 108px;
  height: 54px;
  margin: 0 auto;
  padding: 0.125rem;  
  position: relative;  
  border-radius: 1.75rem;
  margin-bottom: 0.625rem;
  background-color: #1d1d1d;
}

#fundoCabeca.perdeuControle {
  background-color: #aa0d17;
}

[data-estado-animacoes="true"] #fundoCabeca {
  transition: background-color 0.3s cubic-bezier(0.7, 0, 0.84, 0);
}

#cabeca {
  right: 2px;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;  
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
	
}

[data-estado-animacoes="true"] #cabeca {
  transition: right 0.3s cubic-bezier(0.7, 0, 0.84, 0);
}