.text {
	margin-top: 3rem;
	text-align: center;
}

h1 {
	color: white;
	font-size: 2.25rem;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	font-family: 'Spartan', sans-serif;
}

[data-head-lost="true"] h1 {
	color: #aa0d17;
}

.message {
	display: none;
	opacity: 1;
	width: fit-content;
	border-radius: 1.5rem;
	padding: 0 1.3rem 0 1.3rem;
	margin: 0.5rem auto 0 auto;
}

.message.youAreHere {
	display: block;
}

#personNotControlled {
	background-color: #aa0d17;
}

p {
	color: white;
	font-size: 1rem;
	font-family: 'Nunito', sans-serif; 
}